@font-face {
			font-family: dosis;
			src: url("file:///android_asset/font/dosis.ttf")
		}
		body {
			font-family: dosis;
			font-size: medium;
			text-align: justify;
		}

@font-face {
			font-family: dosis;
			src: url("file:///android_asset/font/dosis.ttf")
		}
		body {
			font-family: dosis;
			font-size: medium;
			text-align: justify;
		}

body
{
background-color:#000000;
}

h1 {
	font-family: 'dosis', sans-serif;
	color: #FFFFFF;
	text-align: center;
}

h2 {
	font-family: 'dosis', sans-serif;
	color: #FFFFFF;
	text-align: center;
}

h3 {
	font-family: 'dosis', sans-serif;
	color: #FFFFFF;
}

p {
	font-family: 'dosis', sans-serif;
	color: #FFFFFF;
	font-size: 20px;
}

.codeblock {
	overflow: scroll;
	white-space: nowrap;
	border-radius: 15px;
	padding: 10px 10px 10px 10px;
	width: 95%;
	align: center;
	color: white;
	background-color: #1f1f1f;
	font-size: 18px;
}

.functions {
	color: #00b3ff;
}
.strings {
	color: #00ff6e;
}
.numbers {
	color: #c387ff;
}
.vars {
	color: #fff387;
}
.commands {
	color: #ff8787;
}
.comments {
	color: #7d7d7d;
}

.falscolor {
    color: #a60006;
}

.adevaratcolor {
    color: #00a621;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 14px;
}

table {
  color: #ffffff;
}





/* SCROLLBAR FOR CODE */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}